html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #1a071e;
	background-image: linear-gradient(#0c0c0c,#1a071e);
	color:#f9f8e9;
}

body {
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
	font-family:'Courier New', Courier, monospace;
}

a {
	color:#f9f8e9;
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	transition:box-shadow 1s;
}

input:disabled {
	color: #ccc;
}

button {
	color: #f4f4f4;
	background-color: #333;
	outline: none;
	border:none;
	border-radius:2em;
	padding:0.5em;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h1 {
	text-align:center;
	font-size:7vw;
}

.header {
	overflow-x:visible;
	width:100%;
	margin:0px;
	padding:0px;
}

#search {
	text-align: center;
	width:auto;
	height:10vh;
	font-size:3vh;
	border-radius: 2em;
}

.search {
	text-align: center;
}

th, td {
    border: 1px solid #f4f4f4;
	padding:1.5em;
	font-size:2vh;
}
table {
	margin:5vw;
}

.info {
	overflow-x:auto;
}

input:hover,input:focus {
	box-shadow: 0px 0px 40px 20px rgb(236, 162, 255);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform:translateX(2vw);
	}
	100% {
		opacity:1;
		transform:translateX(0vw);
	}
}

.animate-row {
	animation: fadeIn 0.8s ease-out;
}